Repository iRevive/otel4s: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation PRs, Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:contrib:aws PRs, Label module:sdk:exporter PRs, Label module:semconv PRs, Label metrics PRs, Label trace PRs, Label logs PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: Label documentation PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - documentation
      remove: []
- name: Label module:core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - module:core
      remove: []
- name: Label module:oteljava PRs
  conditions:
  - files~=^oteljava/
  actions:
    label:
      add:
      - module:oteljava
      remove: []
- name: Label module:sdk PRs
  conditions:
  - files~=^sdk/
  actions:
    label:
      add:
      - module:sdk
      remove: []
- name: Label module:sdk:contrib:aws PRs
  conditions:
  - files~=^sdk-contrib/aws/
  actions:
    label:
      add:
      - module:sdk:contrib:aws
      remove: []
- name: Label module:sdk:exporter PRs
  conditions:
  - files~=^sdk-exporter/
  actions:
    label:
      add:
      - module:sdk:exporter
      remove: []
- name: Label module:semconv PRs
  conditions:
  - files~=^semconv/
  actions:
    label:
      add:
      - module:semconv
      remove: []
- name: Label metrics PRs
  conditions:
  - files~=/(metrics)/
  actions:
    label:
      add:
      - metrics
      remove: []
- name: Label trace PRs
  conditions:
  - files~=/(trace)/
  actions:
    label:
      add:
      - tracing
      remove: []
- name: Label logs PRs
  conditions:
  - files~=/(logs)/
  actions:
    label:
      add:
      - logs
      remove: []
- name: Label Scala Steward PRs
  conditions:
  - author=typelevel-steward[bot]
  actions:
    label:
      add:
      - dependencies
      remove: []

deploy: d4cf0d604cd92464fbe5a3a98acc44077eebad5c
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Add InstrumentMeta to Logger*
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProvider.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk PRs, Label logs PRs

Add SdkLogsExample (on top of scribe)
  build.sbt
  examples/src/main/scala/SdkLogsExample.scala
Due: none

merge upstream
  .github/workflows/ci.yml
  examples/src/main/scala/SdkLogsExample.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/data/LogRecord.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoder.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsJsonCodecs.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoderSuite.scala
Due: Label module:oteljava PRs, Label module:sdk:exporter PRs, Label logs PRs

deploy: fe69c32784b041ad98d82ee3e04bd6fc45cb1d68
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

merge upstream
  build.sbt
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  examples/src/main/scala/SdkLogsExample.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/data/LogRecord.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoder.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsJsonCodecs.scala
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsProtoEncoderSuite.scala
Due: Label module:core PRs, Label module:oteljava PRs, Label module:sdk:exporter PRs, Label logs PRs

deploy: 55a6154125355ca37e5d800d2d30ce10f1bfad45
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

merge upstream
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label logs PRs

deploy: d71013f86d655a2e2ddfcfcb995de3830f67d55f
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: de1d02dff5587a16e5a308b9644083602546b461
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Merge upstream
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LogRecordBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerBuilderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/LoggerProviderImpl.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
Due: Label module:oteljava PRs, Label logs PRs

deploy: 8fff5ac3d5a5e9fecf89192f6149b9222518a7b9
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 9f8ae268dc1aa5fee07dee849118b4f31413c70a
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 533b49a1368c2ceeaf17b259fc95caf3a12df14a
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: eab3f9a431c6214ca2055d75b36f858861122929
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Fix compilation issues
  build.sbt
Due: none

deploy: ace8275013038f83f0d338f2b6f17a110095e990
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: eb1ffa2c7ec35582155924c3bb376ef0096f315a
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Fix compilation issues
  .github/workflows/ci.yml
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/data/LogRecord.scala
  sdk-exporter/logs/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/autoconfigure/OtlpLogRecordExporterAutoConfigure.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLoggerProvider.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label module:sdk:exporter PRs, Label logs PRs

deploy: cc4f6cdf7b7c0d513a5c518f4cf5498f3296d84c
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Fix compilation issues
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: d337bd6603dfde7fbb0f38c7269f7a5c9faaef91
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Sync changes
  build.sbt
  sdk-exporter/logs/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/logs/LogsJsonCodecs.scala
Due: Label module:sdk:exporter PRs, Label logs PRs

deploy: b428e10150cf7dd5cbba590f90b8dc36fc42ac52
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Merge upstream
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/InMemoryLogRecordExporter.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogger.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessor.scala
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/SimpleLogRecordProcessor.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordExportersAutoConfigureSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LoggerProviderAutoConfigureSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessorSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/SimpleLogRecordProcessorSuite.scala
Due: Label module:oteljava PRs, Label module:sdk PRs, Label logs PRs

deploy: caf31d897779edcc9859b7a14348c789c4d2a3e0
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 3f186ea43df218974beb7dd80223ede0fa1376f8
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 8898414e85db7bf1b854d31f21faf638cf420982
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Merge upstream
  .github/workflows/ci.yml
Due: none

deploy: 12aef6dd65e2bf4a86cb8189449080e6b0f0f2c3
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

merge upstream
  build.sbt
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/BatchLogRecordProcessorAutoConfigurerSuite.scala
Due: Label module:sdk PRs, Label logs PRs

deploy: 75f8a6814a0e7f59111d35f47f0acfdbecd81b3f
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 57e4fb1cebacd4094d80047833385008a3b63636
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

deploy: 5914079b262fe30d8cf0c4468526e0c3fe180450
  api/index.html
  customization/histogram-custom-buckets/index.html
  ecosystem.html
  examples/grafana/index.html
  examples/honeycomb/index.html
  examples/jaeger-docker/index.html
  index.html
  instrumentation/baggage.html
  instrumentation/metrics-cats-effect-io-runtime.html
  instrumentation/metrics.html
  instrumentation/tracing-cross-service-propagation.html
  instrumentation/tracing.html
  modules-structure.html
  oteljava/agent.html
  oteljava/metrics-jvm-runtime.html
  oteljava/overview.html
  oteljava/testkit.html
  oteljava/tracing-context-propagation.html
  oteljava/tracing-java-interop.html
  sdk/aws-resource-detectors.html
  sdk/aws-xray-propagator.html
  sdk/aws-xray.html
  sdk/configuration.html
  sdk/overview.html
  sdk/prometheus-exporter.html
  sdk/testkit.html
  tracing-context-propagation.html
Due: Label module:oteljava PRs, Label module:sdk PRs

Update Scala Native to 0.5.8
  build.sbt
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
  project/plugins.sbt
Due: Label module:core PRs

Fix compilation issue
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
Due: Label module:sdk PRs

Use _SC_HOST_NAME_MAX variable for a hostname buffer
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
Due: Label module:sdk PRs

Update Scala.js to 1.20.1
  project/plugins.sbt
Due: none

Align dependencies with Scala.js version
  build.sbt
  project/plugins.sbt
Due: none

Fix Scala.js compilation warning
  core/common/src/test/scala/org/typelevel/otel4s/context/propagation/TextMapGetterProps.scala
Due: Label module:core PRs
